In [1]:
import pandas as pd
import re

# 1️⃣ Cargar el CSV
df = pd.read_csv('Tweets.csv', encoding='latin-1')

# 2️⃣ Mostrar los nombres de las columnas (para verificar)
print("Columnas del CSV:", df.columns.tolist())

# 3️⃣ Función para limpiar texto
def remove_especial_text(row):
    if isinstance(row, str):  # Verifica que sea texto
        # Eliminar números
        row = re.sub(r'\d+', '', row)
        # Eliminar signos de puntuación y símbolos especiales
        row = re.sub(r'[^\w\s]', '', row)
        # Pasar todo a minúsculas
        row = row.lower()
        # Quitar espacios extra
        row = ' '.join(row.split())
        return row
    else:
        return ""  # Si el valor no es texto

# 4️⃣ Aplicar la función a la columna 'text'
df["processed_text"] = df["text"].apply(remove_especial_text)

# 5️⃣ Mostrar una vista previa de los resultados
df

Columnas del CSV: ['textID', 'text', 'selected_text', 'sentiment']

,textID,text,selected_text,sentiment,processed_text
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,id have responded if i were going
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,sooo sad i will miss you here in san diego
2,088c60f138,my boss is bullying me...,bullying me,negative,my boss is bullying me
3,9642c003ef,what interview! leave me alone,leave me alone,negative,what interview leave me alone
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,sons of why couldnt they put them on the relea...
...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,wish we could come see u on denver husband los...
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,ive wondered about rake to the client has made...
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,yay good for both of you enjoy the break you p...
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,but it was worth it
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,all this flirting going on the atg smiles yay ...